<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearnOpenGL-01-窗口.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>LearnOpenGL-02-三角形.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LearnOpenGL-03-Shader.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LearnOpenGL-04-Texture.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LearnOpenGL-05-Transform.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LearnOpenGL-06-CoordinateSystems.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LearnOpenGL-07-Camera.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LearnOpenGL-09-BasicLighting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LearnOpenGL-10-Materials.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>LearnOpenGL-11-LightingMaps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>LearnOpenGL_08-Colors.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B50D9D02275DC2500B826D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B50D9E52275F6E100B826D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BAB8A8A228D9DAC00A8D406</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D70AD0B8228AAAF60005854D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7C1EB48228C1AEE000BD697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
